@import url(https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i|DM+Serif+Display:400,400i&display=swap);

@font-face {
  font-family: icomoon;
  src: url(../fonts/icomoon.eot%3Fq2xewv);
  src: url(../fonts/icomoon.eot%3Fq2xewv) format("embedded-opentype"), url(../fonts/icomoon.ttf%3Fq2xewv) format("truetype"), url(../fonts/icomoon.woff%3Fq2xewv) format("woff"), url(../fonts/icomoon.svg%3Fq2xewv) format("svg");
  font-weight: 400;
  font-style: normal
}

[class*=" icon-"], [class^=icon-] {
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

@font-face {
  font-family: Northwell;
  src: url(../fonts/Northwell.eot);
  src: url(../fonts/Northwell.eot?#iefix) format('embedded-opentype'), url(../fonts/Northwell.woff2) format('woff2'), url(../fonts/Northwell.woff) format('woff'), url(../fonts/Northwell.ttf) format('truetype'), url(../fonts/Northwell.svg#Northwell) format('svg')
}

body {
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
  color: #212121;
}

h1, h2, h3, h4, h5 {
  font-family: 'DM Serif Display', serif
}

.display-2 {
  font-family: Northwell, cursive;
  font-size: 6rem
}

.name {
  font-size: 2.8rem;
  font-family: Northwell, cursive
}

.nav-link {
  font-size: .8rem !important;
  color: #212121;
  font-weight: 500
}

ul.gallery {
  position: relative;
  height: 400px
}

.bg-dark {
  background-color: #343a40 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #212121
}

p.lead {
  color: #fff !important
}

.btn {
  background-color: #b0c8b4;
  color: #212121;
  font-weight: 600
}

.btn:hover {
  color: #fff
}

.btn-outline {
  background-color: transparent !important;
  color: #212121 !important;
  border: solid 2px #212121
}

.btn-outline:hover {
  background-color: #212121 !important;
  color: #fff !important
}

label {
  margin-bottom: .25rem;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  letter-spacing: .1em
}

.form-control-minimal {
  background: 0 0;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #e5e5e5
}

.form-control-minimal::placeholder {
  color: #999
}

.form-control-minimal:focus {
  background: 0 0
}

.text-white .form-control {
  border-color: transparent;
  background: rgba(255, 255, 255, .1);
  color: #fff
}

.text-white .form-control::placeholder {
  color: rgba(255, 255, 255, .5)
}

.text-white .form-control:focus {
  border-color: #fff
}

header {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid transparent
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

[class*=container]+[class*=container] {
  margin-top: 3.125rem
}

.container-full {
  overflow: hidden
}

body>footer, body>section {
  position: relative;
  margin: 0 auto;
  padding: 6.25rem 0;
  overflow: hidden
}

body [class*=container] .row:not(:last-child) {
  margin-bottom: 3.125rem
}

section[class*=large] {
  padding: 9.375rem 0
}

section[class*=small] {
  padding: 4.16667rem 0
}

[class*=separator] {
  border-width: 0;
  border-color: #e5e5e5;
  border-style: solid
}

[class*=separator][class*="-top"] {
  border-top-width: 1px
}

[class*=separator][class*="-right"] {
  border-right-width: 1px
}

[class*=separator][class*="-bottom"] {
  border-bottom-width: 1px
}

[class*=separator][class*="-left"] {
  border-left-width: 1px
}

.text-white [class*=separator], .text-white[class*=separator] {
  border-color: rgba(255, 255, 255, .1)
}

.viewport {
  position: relative;
  overflow: hidden
}

.circle {
  position: absolute;
  top: 40%;
  width: 20vw;
  height: 20vw;
  background: rgba(0, 0, 0, .1);
  border-radius: 50%
}

.hero[class*="-with-header"] {
  padding-top: 12.5rem
}

.gradient-bg>* {
  position: relative;
  z-index: 40
}

.gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center
}

.image[class*="-overlay"]::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, .25)
}

.image[class*="-overlay-dark"]::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, .4)
}

.image[class*="-gradient-vertical"] {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)))
}

.image[class*="-gradient-horizontal"] {
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(black), to(rgba(0, 0, 0, .5)))
}

.image[class*="-gradient-vertical-light"] {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, .5)))
}

.image[class*="-gradient-horizontal-light"] {
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(black), to(rgba(0, 0, 0, .5)))
}

.image[class*="-cover"] {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)))
}

.image[class*="-parallax"] {
  width: 150%
}

.image[class*="-blur"] {
  margin: -20px;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px)
}

.image-zoom {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 10s;
  -moz-transition: all 10s;
  transition: all 10s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s
}

.swiper-slide-active .image-zoom {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1)
}

.caption {
  position: relative;
  z-index: 50;
  height: 100%
}

.caption-background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 25
}

.caption-background .container, .caption-background .container-fluid, .caption-background .container-full {
  height: 100%
}

.caption-background .container .row, .caption-background .container-fluid .row, .caption-background .container-full .row {
  height: 100%
}

@-webkit-keyframes mouse {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, 20px);
    -moz-transform: translate(-50%, 20px);
    transform: translate(-50%, 20px)
  }
}

@-moz-keyframes mouse {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, 20px);
    -moz-transform: translate(-50%, 20px);
    transform: translate(-50%, 20px)
  }
}

@keyframes mouse {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, 20px);
    -moz-transform: translate(-50%, 20px);
    transform: translate(-50%, 20px)
  }
}

.gallery-container .swiper-slide, .swiper-container .swiper-slide {
  height: auto;
  overflow: hidden
}

.gallery-container .container, .gallery-container .container-fluid, .swiper-container .container, .swiper-container .container-fluid {
  height: 100%
}

.gallery-container .container-fluid>.row, .gallery-container .container>.row, .swiper-container .container-fluid>.row, .swiper-container .container>.row {
  height: 100%;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem
}

.swiper-wrapper {
  z-index: 20
}

.container .gallery-container .swiper-slide, .container .swiper-container .swiper-slide, .container-fluid .gallery-container .swiper-slide, .container-fluid .swiper-container .swiper-slide {
  border-radius: .25rem
}

.swiper-footer {
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  transform: translate(0, 50%);
  width: 100%;
  position: absolute;
  bottom: 3.125rem;
  z-index: 40
}

.swiper-footer .container-fluid>.row, .swiper-footer .container>.row {
  padding: 0
}

.gallery .container-fluid>.row, .gallery .container>.row {
  padding-bottom: 9.375rem
}

.swiper-container-carousel {
  overflow: visible
}

.swiper-button-next, .swiper-button-prev {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  float: left;
  position: relative;
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  margin-top: 15px;
  text-align: center;
  background-image: none !important;
  border: 1px solid transparent;
  z-index: 20;
  outline: 0
}

.swiper-button-next::before, .swiper-button-prev::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #000;
  line-height: 3.75rem;
  font-family: icomoon;
  font-size: 1.5rem
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  border-color: #e5e5e5
}

.swiper-button-next:hover::before, .swiper-button-prev:hover::before {
  color: #000
}

.swiper-button-prev {
  left: 0
}

.swiper-button-prev::before {
  content: "\ebfb"
}

.swiper-button-next {
  right: 0
}

.swiper-button-next::before {
  content: "\ebfc"
}

[class*=bordered] {
  border-radius: .25rem;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  background-color: transparent;
  border: 1px solid #e5e5e5
}

.text-white [class*=bordered] {
  background: 0 0;
  border-color: #615b56
}

.container .gallery-container .swiper-slide, .container .swiper-container .swiper-slide, .container-fluid .gallery-container .swiper-slide, .container-fluid .swiper-container .swiper-slide, .presentation-circle>figure, [class*=boxed] {
  border-radius: .25rem;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
  background-color: #fff
}

[class*=floating] {
  -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1)
}

[class*=rounded] {
  border-radius: 10rem !important
}

.equal, .presentation-circle {
  position: relative
}

.equal::before, .presentation-circle::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%
}

.equal>*, .presentation-circle>* {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.equal[class*="-short"]::before, .presentation-circle[class*="-short"]::before {
  padding-top: 75%
}

.equal[class*="-long"]::before, .presentation-circle[class*="-long"]::before {
  padding-top: 125%
}

.equal .equal-footer, .equal .equal-header {
  position: absolute;
  right: 0;
  left: 0;
  padding: 30px
}

.equal .equal-header {
  top: 0
}

.equal .equal-footer {
  bottom: 0
}

.equal .row {
  height: 100%
}

.align-bottom .owl-stage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end !important;
  align-items: flex-end !important
}

.photo {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  border-radius: .25rem;
  position: relative;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, #000)
}

.photo img {
  width: 100%
}

.photo a {
  display: block;
  margin: 0;
  background-size: cover;
  background-position: center
}

.photo a::before {
  border-radius: .25rem;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .2)
}

.photo:hover a:before {
  opacity: .75
}

.photo:hover .photo-caption {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1
}

.photo-caption {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  text-shadow: 0 0 25px rgba(0, 0, 0, .4);
  position: absolute;
  bottom: .625rem;
  left: .625rem;
  padding: .5rem;
  opacity: 0;
  color: #fff
}

.gutter-0 .photo {
  border-radius: 0
}

.nav {
  display: inline-block;
  position: relative
}

.nav .nav-link {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  position: relative;
  display: inline-block;
  color: #999;
  z-index: 5;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .05em
}

.nav-text {
  margin: -.5rem
}

.nav-text .nav-link {
  margin: .5rem;
  padding: 0 0 1rem 0;
  line-height: 1em;
  font-weight: 300;
  font-size: 1.875rem;
  z-index: 5
}

.nav-text .nav-link.active {
  color: #b0c8b4;
  border-color: #b0c8b4
}

.nav-text .nav-link:hover {
  color: #b0c8b4
}

.nav-vertical {
  display: inline-block
}

.nav-vertical .nav-link {
  display: block
}

@keyframes fadeOutBottom {
  from {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1)
  }

  to {
    opacity: 0;
    -webkit-transform: translate(0, 10%);
    -moz-transform: translate(0, 10%);
    transform: translate(0, 10%);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    transform: scale(.8);
    -webkit-font-smoothing: antialiased
  }
}

@-webkit-keyframes fadeOutBottom {
  from {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0)
  }

  to {
    opacity: 0;
    -webkit-transform: translate(0, 10%);
    -moz-transform: translate(0, 10%);
    transform: translate(0, 10%);
    -webkit-font-smoothing: antialiased
  }
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 10%);
    -moz-transform: translate(0, 10%);
    transform: translate(0, 10%)
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-font-smoothing: antialiased
  }
}

@-webkit-keyframes fadeInTop {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 10%);
    -moz-transform: translate(0, 10%);
    transform: translate(0, 10%)
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-font-smoothing: antialiased
  }
}

[class*=boxed]>.row {
  padding: 0
}

.owl-carousel[data-dots=true] {
  margin-bottom: 60px
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  background: rgba(0, 0, 0, .4);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  width: 4rem;
  height: 4rem;
  text-align: center;
  z-index: 20
}

.owl-carousel .owl-nav button.owl-next::before, .owl-carousel .owl-nav button.owl-prev::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 4rem;
  font-family: icomoon;
  font-size: 1.8rem;
  color: #fff
}

.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
  background: rgba(0, 0, 0, .5)
}

.owl-carousel .owl-nav button.owl-next span, .owl-carousel .owl-nav button.owl-prev span {
  display: none
}

.owl-carousel .owl-nav .owl-prev {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 15px
}

.owl-carousel .owl-nav .owl-prev::before {
  content: "\ebfb"
}

.owl-carousel .owl-nav .owl-prev[class*=disabled] {
  -webkit-transform: translate(-100%, -50%);
  -moz-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  opacity: 0;
  visibility: hidden;
  z-index: 10
}

.owl-carousel .owl-nav .owl-next {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 15px
}

.owl-carousel .owl-nav .owl-next::before {
  content: "\ebfc"
}

.owl-carousel .owl-nav .owl-next[class*=disabled] {
  -webkit-transform: translate(100%, -50%);
  -moz-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  opacity: 0;
  visibility: hidden;
  z-index: 10
}

.owl-dots {
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  transform: translate(0, 50%);
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center
}

.owl-dots.disabled {
  display: none
}

.owl-carousel .owl-stage-outer .owl-stage .owl-item {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  counter-increment: owlItem
}

.owl-carousel .owl-stage-outer .owl-stage .owl-item img {
  width: auto;
  max-width: 100%
}

.btn-orange {
  color: #151515;
  background-color: #f3a83c;
  border-color: #f3a83c
}

.btn-orange:hover {
  color: #151515;
  background-color: #f19818;
  border-color: #ed920f
}

.btn-orange:focus {
  box-shadow: 0 0 0 0 rgba(243, 168, 60, .5)
}

.btn-orange.disabled, .btn-orange:disabled {
  color: #151515;
  background-color: #f3a83c;
  border-color: #f3a83c
}

.btn-orange:not(:disabled):not(.disabled).active, .btn-orange:not(:disabled):not(.disabled):active {
  color: #151515;
  background-color: #ed920f;
  border-color: #e18b0e
}

.btn-orange:not(:disabled):not(.disabled).active:focus, .btn-orange:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(243, 168, 60, .5)
}

.btn-white {
  color: #151515;
  background-color: #fff;
  border-color: #fff
}

.btn-white:hover {
  color: #151515;
  background-color: #ececec;
  border-color: #e6e6e6
}

.btn-white:focus {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .5)
}

.btn-white.disabled, .btn-white:disabled {
  color: #151515;
  background-color: #fff;
  border-color: #fff
}

.btn-white:not(:disabled):not(.disabled).active, .btn-white:not(:disabled):not(.disabled):active {
  color: #151515;
  background-color: #e6e6e6;
  border-color: #dfdfdf
}

.btn-white:not(:disabled):not(.disabled).active:focus, .btn-white:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .5)
}

.btn-outline-orange {
  color: #f3a83c;
  background-color: transparent;
  background-image: none;
  border-color: #f3a83c
}

.btn-outline-orange:hover {
  color: #151515;
  background-color: #f3a83c;
  border-color: #f3a83c
}

.btn-outline-orange:focus {
  box-shadow: 0 0 0 0 rgba(243, 168, 60, .5)
}

.btn-outline-orange.disabled, .btn-outline-orange:disabled {
  color: #f3a83c;
  background-color: transparent
}

.btn-outline-orange:not(:disabled):not(.disabled).active, .btn-outline-orange:not(:disabled):not(.disabled):active {
  color: #151515;
  background-color: #f3a83c;
  border-color: #f3a83c
}

.btn-outline-orange:not(:disabled):not(.disabled).active:focus, .btn-outline-orange:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(243, 168, 60, .5)
}

.btn-outline-white {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff
}

.btn-outline-white:hover {
  color: #151515;
  background-color: #fff;
  border-color: #fff
}

.btn-outline-white:focus {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .5)
}

.btn-outline-white.disabled, .btn-outline-white:disabled {
  color: #fff;
  background-color: transparent
}

.btn-outline-white:not(:disabled):not(.disabled).active, .btn-outline-white:not(:disabled):not(.disabled):active {
  color: #151515;
  background-color: #fff;
  border-color: #fff
}

.btn-outline-white:not(:disabled):not(.disabled).active:focus, .btn-outline-white:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .5)
}

.btn-100 {
  color: #151515;
  background-color: #f5f5f5;
  border-color: #f5f5f5
}

.btn-100:hover {
  color: #151515;
  background-color: #e2e2e2;
  border-color: #dcdcdc
}

.btn-100:focus {
  box-shadow: 0 0 0 0 rgba(245, 245, 245, .5)
}

.btn-100.disabled, .btn-100:disabled {
  color: #151515;
  background-color: #f5f5f5;
  border-color: #f5f5f5
}

.btn-100:not(:disabled):not(.disabled).active, .btn-100:not(:disabled):not(.disabled):active {
  color: #151515;
  background-color: #dcdcdc;
  border-color: #d5d5d5
}

.btn-100:not(:disabled):not(.disabled).active:focus, .btn-100:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(245, 245, 245, .5)
}

.btn-200 {
  color: #151515;
  background-color: #e5e5e5;
  border-color: #e5e5e5
}

.btn-200:hover {
  color: #151515;
  background-color: #d2d2d2;
  border-color: #ccc
}

.btn-200:focus {
  box-shadow: 0 0 0 0 rgba(229, 229, 229, .5)
}

.btn-200.disabled, .btn-200:disabled {
  color: #151515;
  background-color: #e5e5e5;
  border-color: #e5e5e5
}

.btn-200:not(:disabled):not(.disabled).active, .btn-200:not(:disabled):not(.disabled):active {
  color: #151515;
  background-color: #ccc;
  border-color: #c5c5c5
}

.btn-200:not(:disabled):not(.disabled).active:focus, .btn-200:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(229, 229, 229, .5)
}

.btn-300 {
  color: #151515;
  background-color: #999;
  border-color: #999
}

.btn-300:hover {
  color: #fff;
  background-color: #868686;
  border-color: gray
}

.btn-300:focus {
  box-shadow: 0 0 0 0 rgba(153, 153, 153, .5)
}

.btn-300.disabled, .btn-300:disabled {
  color: #151515;
  background-color: #999;
  border-color: #999
}

.btn-300:not(:disabled):not(.disabled).active, .btn-300:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: gray;
  border-color: #797979
}

.btn-300:not(:disabled):not(.disabled).active:focus, .btn-300:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(153, 153, 153, .5)
}

.btn-400 {
  color: #fff;
  background-color: #888;
  border-color: #888
}

.btn-400:hover {
  color: #fff;
  background-color: #757575;
  border-color: #6f6f6f
}

.btn-400:focus {
  box-shadow: 0 0 0 0 rgba(136, 136, 136, .5)
}

.btn-400.disabled, .btn-400:disabled {
  color: #fff;
  background-color: #888;
  border-color: #888
}

.btn-400:not(:disabled):not(.disabled).active, .btn-400:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #6f6f6f;
  border-color: #686868
}

.btn-400:not(:disabled):not(.disabled).active:focus, .btn-400:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(136, 136, 136, .5)
}

.btn-500 {
  color: #fff;
  background-color: #777;
  border-color: #777
}

.btn-500:hover {
  color: #fff;
  background-color: #646464;
  border-color: #5e5e5e
}

.btn-500:focus {
  box-shadow: 0 0 0 0 rgba(119, 119, 119, .5)
}

.btn-500.disabled, .btn-500:disabled {
  color: #fff;
  background-color: #777;
  border-color: #777
}

.btn-500:not(:disabled):not(.disabled).active, .btn-500:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #5e5e5e;
  border-color: #575757
}

.btn-500:not(:disabled):not(.disabled).active:focus, .btn-500:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(119, 119, 119, .5)
}

.btn-600 {
  color: #fff;
  background-color: #555;
  border-color: #555
}

.btn-600:hover {
  color: #fff;
  background-color: #424242;
  border-color: #3c3c3c
}

.btn-600:focus {
  box-shadow: 0 0 0 0 rgba(85, 85, 85, .5)
}

.btn-600.disabled, .btn-600:disabled {
  color: #fff;
  background-color: #555;
  border-color: #555
}

.btn-600:not(:disabled):not(.disabled).active, .btn-600:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #3c3c3c;
  border-color: #353535
}

.btn-600:not(:disabled):not(.disabled).active:focus, .btn-600:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(85, 85, 85, .5)
}

.btn-700 {
  color: #fff;
  background-color: #444;
  border-color: #444
}

.btn-700:hover {
  color: #fff;
  background-color: #313131;
  border-color: #2b2b2b
}

.btn-700:focus {
  box-shadow: 0 0 0 0 rgba(68, 68, 68, .5)
}

.btn-700.disabled, .btn-700:disabled {
  color: #fff;
  background-color: #444;
  border-color: #444
}

.btn-700:not(:disabled):not(.disabled).active, .btn-700:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #2b2b2b;
  border-color: #242424
}

.btn-700:not(:disabled):not(.disabled).active:focus, .btn-700:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(68, 68, 68, .5)
}

.btn-800 {
  color: #fff;
  background-color: #333;
  border-color: #333
}

.btn-800:hover {
  color: #fff;
  background-color: #202020;
  border-color: #1a1a1a
}

.btn-800:focus {
  box-shadow: 0 0 0 0 rgba(51, 51, 51, .5)
}

.btn-800.disabled, .btn-800:disabled {
  color: #fff;
  background-color: #333;
  border-color: #333
}

.btn-800:not(:disabled):not(.disabled).active, .btn-800:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #1a1a1a;
  border-color: #131313
}

.btn-800:not(:disabled):not(.disabled).active:focus, .btn-800:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(51, 51, 51, .5)
}

.btn-900 {
  color: #fff;
  background-color: #151515;
  border-color: #151515
}

.btn-900:hover {
  color: #fff;
  background-color: #020202;
  border-color: #000
}

.btn-900:focus {
  box-shadow: 0 0 0 0 rgba(21, 21, 21, .5)
}

.btn-900.disabled, .btn-900:disabled {
  color: #fff;
  background-color: #151515;
  border-color: #151515
}

.btn-900:not(:disabled):not(.disabled).active, .btn-900:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #000;
  border-color: #000
}

.btn-900:not(:disabled):not(.disabled).active:focus, .btn-900:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(21, 21, 21, .5)
}

.btn-outline-100 {
  color: #f5f5f5;
  background-color: transparent;
  background-image: none;
  border-color: #f5f5f5
}

.btn-outline-100:hover {
  color: #151515;
  background-color: #f5f5f5;
  border-color: #f5f5f5
}

.btn-outline-100:focus {
  box-shadow: 0 0 0 0 rgba(245, 245, 245, .5)
}

.btn-outline-100.disabled, .btn-outline-100:disabled {
  color: #f5f5f5;
  background-color: transparent
}

.btn-outline-100:not(:disabled):not(.disabled).active, .btn-outline-100:not(:disabled):not(.disabled):active {
  color: #151515;
  background-color: #f5f5f5;
  border-color: #f5f5f5
}

.btn-outline-100:not(:disabled):not(.disabled).active:focus, .btn-outline-100:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(245, 245, 245, .5)
}

.btn-outline-200 {
  color: #e5e5e5;
  background-color: transparent;
  background-image: none;
  border-color: #e5e5e5
}

.btn-outline-200:hover {
  color: #151515;
  background-color: #e5e5e5;
  border-color: #e5e5e5
}

.btn-outline-200:focus {
  box-shadow: 0 0 0 0 rgba(229, 229, 229, .5)
}

.btn-outline-200.disabled, .btn-outline-200:disabled {
  color: #e5e5e5;
  background-color: transparent
}

.btn-outline-200:not(:disabled):not(.disabled).active, .btn-outline-200:not(:disabled):not(.disabled):active {
  color: #151515;
  background-color: #e5e5e5;
  border-color: #e5e5e5
}

.btn-outline-200:not(:disabled):not(.disabled).active:focus, .btn-outline-200:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(229, 229, 229, .5)
}

.btn-outline-300 {
  color: #999;
  background-color: transparent;
  background-image: none;
  border-color: #999
}

.btn-outline-300:hover {
  color: #151515;
  background-color: #999;
  border-color: #999
}

.btn-outline-300:focus {
  box-shadow: 0 0 0 0 rgba(153, 153, 153, .5)
}

.btn-outline-300.disabled, .btn-outline-300:disabled {
  color: #999;
  background-color: transparent
}

.btn-outline-300:not(:disabled):not(.disabled).active, .btn-outline-300:not(:disabled):not(.disabled):active {
  color: #151515;
  background-color: #999;
  border-color: #999
}

.btn-outline-300:not(:disabled):not(.disabled).active:focus, .btn-outline-300:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(153, 153, 153, .5)
}

.btn-outline-400 {
  color: #888;
  background-color: transparent;
  background-image: none;
  border-color: #888
}

.btn-outline-400:hover {
  color: #fff;
  background-color: #888;
  border-color: #888
}

.btn-outline-400:focus {
  box-shadow: 0 0 0 0 rgba(136, 136, 136, .5)
}

.btn-outline-400.disabled, .btn-outline-400:disabled {
  color: #888;
  background-color: transparent
}

.btn-outline-400:not(:disabled):not(.disabled).active, .btn-outline-400:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #888;
  border-color: #888
}

.btn-outline-400:not(:disabled):not(.disabled).active:focus, .btn-outline-400:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(136, 136, 136, .5)
}

.btn-outline-500 {
  color: #777;
  background-color: transparent;
  background-image: none;
  border-color: #777
}

.btn-outline-500:hover {
  color: #fff;
  background-color: #777;
  border-color: #777
}

.btn-outline-500:focus {
  box-shadow: 0 0 0 0 rgba(119, 119, 119, .5)
}

.btn-outline-500.disabled, .btn-outline-500:disabled {
  color: #777;
  background-color: transparent
}

.btn-outline-500:not(:disabled):not(.disabled).active, .btn-outline-500:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #777;
  border-color: #777
}

.btn-outline-500:not(:disabled):not(.disabled).active:focus, .btn-outline-500:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(119, 119, 119, .5)
}

.btn-outline-600 {
  color: #555;
  background-color: transparent;
  background-image: none;
  border-color: #555
}

.btn-outline-600:hover {
  color: #fff;
  background-color: #555;
  border-color: #555
}

.btn-outline-600:focus {
  box-shadow: 0 0 0 0 rgba(85, 85, 85, .5)
}

.btn-outline-600.disabled, .btn-outline-600:disabled {
  color: #555;
  background-color: transparent
}

.btn-outline-600:not(:disabled):not(.disabled).active, .btn-outline-600:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #555;
  border-color: #555
}

.btn-outline-600:not(:disabled):not(.disabled).active:focus, .btn-outline-600:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(85, 85, 85, .5)
}

.btn-outline-700 {
  color: #444;
  background-color: transparent;
  background-image: none;
  border-color: #444
}

.btn-outline-700:hover {
  color: #fff;
  background-color: #444;
  border-color: #444
}

.btn-outline-700:focus {
  box-shadow: 0 0 0 0 rgba(68, 68, 68, .5)
}

.btn-outline-700.disabled, .btn-outline-700:disabled {
  color: #444;
  background-color: transparent
}

.btn-outline-700:not(:disabled):not(.disabled).active, .btn-outline-700:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #444;
  border-color: #444
}

.btn-outline-700:not(:disabled):not(.disabled).active:focus, .btn-outline-700:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(68, 68, 68, .5)
}

.btn-outline-800 {
  color: #333;
  background-color: transparent;
  background-image: none;
  border-color: #333
}

.btn-outline-800:hover {
  color: #fff;
  background-color: #333;
  border-color: #333
}

.btn-outline-800:focus {
  box-shadow: 0 0 0 0 rgba(51, 51, 51, .5)
}

.btn-outline-800.disabled, .btn-outline-800:disabled {
  color: #333;
  background-color: transparent
}

.btn-outline-800:not(:disabled):not(.disabled).active, .btn-outline-800:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #333;
  border-color: #333
}

.btn-outline-800:not(:disabled):not(.disabled).active:focus, .btn-outline-800:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(51, 51, 51, .5)
}

.btn-outline-900 {
  color: #151515;
  background-color: transparent;
  background-image: none;
  border-color: #151515
}

.btn-outline-900:hover {
  color: #fff;
  background-color: #151515;
  border-color: #151515
}

.btn-outline-900:focus {
  box-shadow: 0 0 0 0 rgba(21, 21, 21, .5)
}

.btn-outline-900.disabled, .btn-outline-900:disabled {
  color: #151515;
  background-color: transparent
}

.btn-outline-900:not(:disabled):not(.disabled).active, .btn-outline-900:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #151515;
  border-color: #151515
}

.btn-outline-900:not(:disabled):not(.disabled).active:focus, .btn-outline-900:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0 rgba(21, 21, 21, .5)
}

.btn-rounded {
  border-radius: 12rem
}

.blockquote {
  position: relative;
  margin: inherit;
  padding: 2rem 0 0 2rem;
  color: #000
}

.blockquote::before {
  content: '\201C';
  position: absolute;
  display: inline;
  top: -3rem;
  left: -1rem;
  color: inherit;
  font-family: "Nunito Sans", sans-serif;
  font-size: 30rem;
  color: rgba(0, 0, 0, .1);
  line-height: 1em;
  z-index: 1
}

.blockquote p {
  position: relative;
  color: inherit;
  font-size: 1.625rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  z-index: 5
}

.blockquote-footer {
  position: relative;
  margin-top: .625rem;
  color: #999;
  z-index: 5
}

.blockquote-footer::before {
  display: none
}

.text-white .blockquote {
  color: #fff
}

.text-white .blockquote::before {
  color: rgba(255, 255, 255, .1)
}

.text-white .blockquote .blockquote-footer {
  color: rgba(255, 255, 255, .5)
}

.blockquote-list>* {
  margin-right: 15%;
  margin-bottom: 1.25rem
}

.blockquote-list>:last-child {
  margin-bottom: 0
}

.blockquote-list>:nth-child(2n+2) {
  margin-right: 0;
  margin-left: 15%
}

.blockquote-1 {
  margin-right: 0
}

.blockquote-2 {
  border-radius: 0 2.5rem 2.5rem 2.5rem;
  padding: 2.5rem 2.5rem 2.5rem 6.5rem
}

.blockquote-2:nth-child(2n+2) {
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 0
}

.blockquote-2::before {
  top: 2.25rem;
  font-size: 6rem;
  left: 2.5rem
}

.blockquote-2 p {
  font-size: 1.125rem;
  font-weight: 400
}

.blockquote-2 .blockquote-footer::before {
  display: none
}

/* testimonials */
.testimonials {
  overflow: hidden;
  position: relative;
/*   max-height: 300px; */
}

/* .testimonials {
  background: #161d25;
}
 */
.one-slide,
.testimonial,
.message {
  border: none !important;
  outline: none !important;
}

.icon-overlay {
  position: absolute;
  opacity: 0.2;
  right: 8%;
  top: 0;
  height: auto;
  width: 100%;
  max-width: 400px;
}

.carousel-controls .control {
  position: absolute;
  /* transform: translateY(-50%); */
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #212121;
  z-index: 1;
}

.prev {
  left: -2.25rem;
}

.next {
  right: -2.25rem;
}

@media screen and (max-width: 768px) {
  .testimonials {
    max-height: 700px;
  }
  .icon-overlay {
    height: 300px;
    top: calc(50% - 150px);
  }
  .carousel-controls .control {
    width: 25px;
    height: 25px;
    top: inherit;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  .control i {
    font-size: .7rem;
  }
  .testimonials .message {
    font-size: 1rem;
  }
  .testimonials h2 {
    font-size: 1.5rem;
  }
  div.control.prev, div.control.next {
    display: none !important;
  }
  .blockquote {
    padding: 0;
  }
}



/* .review-listing .owl-item {
  padding: 6.25rem
}

.review-listing .owl-item.active+.active {
  border-left: 1px solid #e5e5e5
} */

.review p {
  margin-top: 50px;
  font-size: 1.25rem;
  font-weight: 300
}

.review hr {
  width: 25%;
  margin-left: 0
}

.review-score {
  border-radius: .25rem;
  display: inline-block;
  width: 3rem;
  line-height: 3rem;
  font-size: 1.5rem;
  color: #fbfffc;
  background: #b0c8b4;
  text-align: center;
}

.tour-rating {

}

.list-group-item {
  position: relative
}

.list-group-item span {
  margin-bottom: 0
}

.list-group-item [class*=icon]:first-child {
  padding: 1rem
}

.list-group-item [class*=icon]:last-child {
  padding-left: 1rem
}

.list-group-item a {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  display: inline-block;
  color: inherit
}

.list-group-item a:hover {
  color: #b0c8b4
}

.list-group-line .list-group-item {
  padding-left: 0;
  padding-right: 0;
  border: 0
}

.list-group-line .list-group-item:not(:first-child)::before {
  position: absolute;
  top: 0;
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  background: #e5e5e5
}

.list-group-minimal .list-group-item {
  padding: 0 0 .5em 0;
  border: 0
}

.list-group-minimal .list-group-item:last-child {
  padding: 0
}

.list-group-minimal .list-group-item.active {
  background: 0 0;
  color: #000
}

.list-group-minimal .list-group-item [class*=icon] {
  padding-right: 0
}

.text-white .list-group-item:not(:first-child) {
  border-color: rgba(255, 255, 255, .2)
}

.text-white .list-group-item a {
  color: rgba(255, 255, 255, .5)
}

.text-white .list-group-item a:hover {
  color: #fff
}

.text-white .list-group-item span {
  color: #fff
}

[class*=" icon-"], [class^=icon-] {
  display: inline-block;
  width: 1em;
  line-height: 1em;
  box-sizing: content-box;
  text-align: center;
  border: 1px solid transparent
}

[class*=" icon-"][class*="-bordered"], [class^=icon-][class*="-bordered"] {
  border-color: currentColor;
  border-radius: 50%;
  border-width: 2px;
  padding: .5em
}

[class*=" icon-"][class*="-filled"], [class^=icon-][class*="-filled"] {
  border-radius: 50%;
  border-color: transparent;
  padding: .5em
}

.svg-icon {
  display: inline-block
}

.svg-icon svg {
  display: block;
  height: 1em;
  width: 1em;
  stroke: currentColor;
  fill: currentColor
}

.svg-icon svg * {
  stroke: currentColor
}

.dropdown-toggle {
  outline: 0
}

.dropdown-item {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  font-size: .875rem
}

.dropdown-item:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}

.dropdown-item:last-child {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem
}

.dropdown-item:active {
  color: rgba(255, 255, 255, .5)
}

.dropdown-item:active span {
  color: #fff
}

.dropdown-item span {
  color: #333;
  font-size: 1rem
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-1rem)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

code[class*=language-] {
  font-family: monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none
}

code[class*=language-]::-moz-selection, code[class*=language-]::selection {
  color: #fff;
  background: #b0c8b4
}

.logo-sm {
  max-height: 2rem
}

img {
  max-width: 100%
}

.phone {
  border-radius: .25rem;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  position: relative;
  display: inline-block;
  padding: 1rem 1rem 1rem 5rem;
  color: #000;
  letter-spacing: .05em
}

.phone::before {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3.625rem;
  content: "\ec73";
  text-align: center;
  line-height: 3.625rem;
  font-family: icomoon;
  font-size: 20px;
  background-color: #615b56
}

.phone:hover {
  border-color: #b0c8b4 !important
}

.phone:hover::before {
  background-color: #b0c8b4 !important;
  color: #fff
}

.text-white .phone::before {
  background: #615b56
}

footer {
  padding: 0 !important;
  color: #fff
}

footer>[class*=container] {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem
}

footer>[class*=container]+[class*=container] {
  margin-top: 0
}

footer .nav {
  display: inline
}

footer .nav li {
  display: inline-block
}

.copyright-text {
  font-size: 12px;
  letter-spacing: .05em;
  text-transform: uppercase
}

.burger {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 100
}

.burger span {
  position: relative;
  margin-top: 6px;
  margin-bottom: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -1.5px
}

.burger span, .burger span::after, .burger span::before {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  transition-property: background-color, transform;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  transition-duration: .3s
}

.burger span::after, .burger span::before {
  position: absolute;
  content: ""
}

.burger span::before {
  top: -6px
}

.burger span::after {
  top: 6px
}

.burger:hover {
  cursor: pointer
}

.wrapper {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s
}

.wrapper.push {
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  transform: scale(.8)
}

.text-white {
  color: #fff
}

.text-white .h1, .text-white .h2, .text-white .h3, .text-white .h4, .text-white .h5, .text-white .h6, .text-white a:not(.btn), .text-white b, .text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6, .text-white li {
  color: #fff
}

.text-white p {
  color: rgba(255, 255, 255, .5)
}

.text-white hr {
  border-color: rgba(255, 255, 255, .2)
}

.text-white .nav .nav-link {
  color: rgba(255, 255, 255, .5)
}

.text-white .nav .nav-link.active, .text-white .nav .nav-link:hover {
  color: #fff
}

.text-white .nav.nav--line {
  border-color: rgba(255, 255, 255, .2)
}

.text-white .svg-icon {
  color: #fff
}

.navbar {
  padding-left: 0;
  padding-right: 0
}

.navbar-brand {
  height: 46px;
  margin-bottom: .5rem;
  margin-right: 3rem
}

.navbar-brand.navbar-brand-sm {
  height: 36px
}

.navbar-brand.navbar-brand-lg {
  height: 56px
}

.navbar-brand .navbar-logo {
  width: auto;
  max-height: 100%;
  display: none
}

.navbar-nav .nav-item+.nav-item {
  margin-left: 1rem
}

.navbar-nav .nav-link {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  font-size: .875rem
}

.navbar-toggler {
  padding: 0 !important;
  border: 0
}

:not(pre)>code[class*=language-] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal
}

.text-white code[class*=language-] {
  color: #fff
}

[class*=badge] {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s
}

.masonry {
  padding: 0;
  list-style: none
}

.masonry>li {
  position: relative
}

.presentation-circle {
  overflow: visible
}

.presentation-circle>figure {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  z-index: 10
}

.presentation-circle>figure::before {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: pulse 3s infinite;
  -moz-animation: pulse 3s infinite;
  -o-animation: pulse 3s infinite;
  animation: pulse 3s infinite;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .1);
  z-index: -1;
  animation-timing-function: cubic-bezier(.1, .2, .3, 1)
}

@-webkit-keyframes pulse {
  0% {
    width: 100%;
    height: 100%;
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    width: 125%;
    height: 125%;
    opacity: 0
  }
}

@-moz-keyframes pulse {
  0% {
    width: 100%;
    height: 100%;
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    width: 125%;
    height: 125%;
    opacity: 0
  }
}

@-o-keyframes pulse {
  0% {
    width: 100%;
    height: 100%;
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    width: 125%;
    height: 125%;
    opacity: 0
  }
}

@keyframes pulse {
  0% {
    width: 100%;
    height: 100%;
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    width: 125%;
    height: 125%;
    opacity: 0
  }
}

.presentation-container>* {
  position: relative;
  z-index: 5
}

.presentation {
  position: relative;
  z-index: 0
}

.presentation img {
  position: absolute;
  max-width: initial;
  max-height: initial
}

.presentation .bottom-0 {
  bottom: 0
}

.presentation .bottom-25 {
  bottom: 25%
}

.presentation .bottom-50 {
  bottom: 50%
}

.presentation .bottom-75 {
  bottom: 75%
}

.presentation .left-0 {
  left: 0
}

.presentation .left-25 {
  left: 25%
}

.presentation .left-50 {
  left: 50%
}

.presentation .left-75 {
  left: 75%
}

.presentation .right-0 {
  right: 0
}

.presentation .right-25 {
  right: 25%
}

.presentation .right-50 {
  right: 50%
}

.presentation .right-75 {
  right: 75%
}

.presentation .vertical-align {
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%)
}

.presentation .horizontal-align {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  transform: translate(-50%, 0)
}

@media (min-width:1200px) {
  header[class*="-dark"] .navbar-logo-light {
    display: block !important
  }

  header[class*="-light"] {
    border-color: #e5e5e5
  }

  header[class*="-light"] .navbar-logo-dark {
    display: block !important
  }

  .header-dark[class*="-not-top"][class*="-pinned"], .header-light[class*="-not-top"][class*="-pinned"] {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
    padding: 0;
    background: #fff
  }

  .header-dark[class*="-not-top"][class*="-pinned"] .navbar-logo, .header-light[class*="-not-top"][class*="-pinned"] .navbar-logo {
    display: none !important
  }

  .header-dark[class*="-not-top"][class*="-pinned"] .navbar-logo.navbar-logo-dark, .header-light[class*="-not-top"][class*="-pinned"] .navbar-logo.navbar-logo-dark {
    display: block !important
  }

  .header-dark[class*="-not-top"][class*="-pinned"]::before, .header-light[class*="-not-top"][class*="-pinned"]::before {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1
  }

  .header-dark[class*="-not-top"][class*="-pinned"] .navbar-nav .nav-item .nav-link, .header-light[class*="-not-top"][class*="-pinned"] .navbar-nav .nav-item .nav-link {
    color: #888
  }

  .header-dark[class*="-not-top"][class*="-pinned"] .navbar-brand, .header-light[class*="-not-top"][class*="-pinned"] .navbar-brand {
    color: #000
  }

  .container-fluid {
    max-width: 1370px
  }
}

@media (max-width:1199.98px) {
  .display-1 {
    font-size: 3.75rem
  }

  .display-2 {
    font-size: 4rem
  }

  .display-3 {
    font-size: 2.8125rem
  }

  .display-4 {
    font-size: 2.57812rem
  }

  .h1, h1 {
    font-size: 2.34375rem
  }

  .h2, h2 {
    font-size: 1.875rem
  }

  .h3, h3 {
    font-size: 1.5rem
  }

  .h4, h4 {
    font-size: 1.3125rem
  }

  .h5, h5 {
    font-size: 1.125rem
  }
}

@media (min-width:1600px) {
  .container-fluid {
    max-width: 1770px
  }
}

@media (max-width:767.98px) {
  body>footer, body>section {
    padding: 3.125rem 0
  }

  body [class*=container] .row:not(:last-child) {
    margin-bottom: 2.08333rem
  }
  .owl-item.mobile {
    width: 22.4% !important;
  }
  .owl-item blockquote p {
    font-size: .8rem;
  }
  .owl-stage {
    transform: translate3d(-7%, 0px, 0px) !important;
  }
}
/*
@media (max-width:1199.98px) {
  .review-listing .owl-item {
    text-align: center;
    padding: 6.25rem 0
  }

  .review-listing hr {
    margin-left: auto;
    margin-right: auto
  }
} */

@media (min-width:1600px) {
  body>footer, body>section {
    padding: 7.5rem 0
  }
}

@media (max-width:1199.98px) {
  .container-fluid>.row>:not(:last-child), .container-full>.row>:not(:last-child), .container>.row>:not(:last-child) {
    margin-bottom: 1.875rem
  }
}

@media (max-width:1199.98px) {
  .navbar-logo-dark {
    display: block !important
  }

  .navbar .navbar-toggler {
    padding: .5rem;
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
    border-radius: 50%
  }

  .navbar .nav-item+.nav-item {
    margin: 0
  }

  .navbar .nav-item .nav-link {
    padding: 5px 0;
    color: #151515
  }

  .navbar .nav-item .nav-link:focus, .navbar .nav-item .nav-link:hover {
    color: #000
  }

  .navbar .nav-item.active .nav-link {
    color: #000
  }

  .navbar-nav .nav-item {
    width: 100%;
    padding: .5rem 0
  }

  .navbar-nav .nav-item .btn {
    display: block;
    background-color: #b0c8b4;
    color: #fff
  }
}

@media (max-width:1199.98px) {
  .swiper-button-next, .swiper-button-prev {
    display: none
  }
}

@media (min-width:768px) {
  [class*=scaling] {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s
  }

  [class*=scaling]:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
    position: relative;
    z-index: 50
  }

  [class*=rising] {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s
  }

  [class*=rising]:hover {
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    transform: translate(0, -10px);
    position: relative;
    z-index: 50;
    -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1)
  }
}

/*
@media screen and (min-device-width: 1200px) and (max-device-width: 1605px) {
    .review-listing .owl-item {
      padding: 6rem .1rem !important;
      width: 625px;
    }
} */


@media print {
  code[class*=language-] {
    text-shadow: none
  }
}
